{
    "scenario-header": %%--header--%%,
    "suites": [%%--suite--%%],
    "scenarios-summary": {
        "successful": %%--successfulScenarios--%%,
        "failed": %%--failedScenarios--%%,
        "skipped": %%--skippedScenarios--%%,
        "incomplete": %%--incompleteScenarios--%%
    }
}
